html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background: black;
    color: white;
    font-family: Consolas;
    text-align: center;
    overflow: hidden;
}

#color {
    display: block;
    width: 80%;
    height: 100%;
    /* border-radius: 50% 50%; */
    /* box-shadow: black 5px; */
    margin: auto;
    -webkit-transition: all 0.3 ease-in-out;
    -moz-transition: all 0.3 ease-in-out;
    transition: all 0.3 ease-in-out;
}